<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->

    {% for _, url in code.get("layout_css") %}
    <link rel="stylesheet" href="{{ url }}">
    {% endfor %}

    {% for _, url in code.get("css_urls") %}
    <link rel="stylesheet" href="{{ url }}">
    {% endfor %}

    {% for _, css in code.get("css_code") %}
    <style type="text/css">
        {{ css }}
    </style>
    {% endfor %}

    <title>{{ d.get('website_title') }}</title>
</head>

<body class="line-numbers">

    
    <div class="container-fluid d-flex justify-content-center logo-bg {% if not d.get('responsive') %} min-width {% endif %}">
        <div class="logo-content {% if d.get('responsive') %} responsive-width {% else %} fixed-width {% endif %}">
            <img src="{{ d.get('logo_url') }}" class="float-left logo" alt="Logo">
            <span
                class="float-right text-right logo-text {% if d.get('responsive') %} logo-text-responsive {% endif %}  small">{{ d.get('logo_text') }}</span>
        </div>
    </div>

    {% block page %}
    {% endblock page %}

    <div class="footer-container d-flex justify-content-center {% if not d.get('responsive') %} min-width {% endif %}">
            <div class="footer text-center small muted mt-1">
                {% if d.get('footer_text') %}
                <p class="footer-text mt-1">{{ d.get('footer_text') }}</p>
                {% endif %}
                <img src="{{ d.get('alfred_logo_url') }}" class="alfred-logo" alt="Alfred logo"> <br>
                <span class="footer-brand">Alfred3 experiment.</span>
            </div>

        </div>


        <!-- Javascript -->
        {% for _, url in code.get("layout_js") %}
        <script type="text/javascript" src="{{ url }}"></script>
        {% endfor %}

        {% for _, url in code.get("js_urls") %}
        <script type="text/javascript" src="{{ url }}"></script>
        {% endfor %}

        {% for _, js in code.get("js_code") %}
        <script type="text/javascript">
            {{ js }}
        </script>
        {% endfor %}


</body>

</html>