*.DS_Store
.DS_Store


name_changelog.py
names_changelog.md
change_names.py
class_names.json
class_names_filled.json
extract_names.py
function_names.json
function_names_filled.json
parameter_names.json
parameter_names_filled.json
port_to_alfred_0.3.py
additional_stuff/

# saved files from tests
save/
fallback_save/
log/

# PyCharm project files

.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/source/generated/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
src/encode.py
.DS_Store
src/.DS_Store
alfred_log.md
src/files/
src/test.py
src/_script.py
src/tests/manualtesting.py

# project-specifics
.vscode/
tests/manual/
alfred_venv/
.alfred.venv/
.alenv/
tests/exp/
docs/source/generated
