certifi==2018.11.29
chardet==3.0.4
Click==7.0
configparser==3.7.1
CouchDB==1.2
dnspython==1.16.0
Flask==1.0.2
future==0.17.1
idna==2.8
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pymongo==3.7.2
PySide2==5.12.1
requests==2.21.0
shiboken2==5.12.1
urllib3==1.24.1
Werkzeug==0.14.1
xmltodict==0.12.0
