/* CLASSES */

.alfred-logo {
    height: 30px;
}

.corrective-hint {
	color:red;
}

.col-element {
    padding: 0;
}

.element {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: row;
}

.input-element {
    margin-bottom: 1em;
}

.text-element {
    margin-bottom: 0;
}

.input-field {
    border-radius: 1rem;
}

.row-element {
    margin: auto;
}

.footer-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-rounded {
    border-radius: 1rem;
}

.logo-bg {
    height: 5vh;
    min-height: 60px;
    max-height: 60px;
}

.logo {
    height: 100%;
}

.logo-content {
    width: 100%;
}

.min-width {
    min-width: 920px;
}

.logo-responsive {
    height: 100%;
}

.page-container {
    width: 95%;
    min-height: 65vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.page-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page-body {
    flex-grow: 1;
    padding-left: 1em;
    padding-right: 1em;
}

.page-header {
    margin-bottom: 1em;
}

.fixed-width {
    width: 920px;
}

.page-title {
    text-align: center;
    border-style: none none solid none;
    border-width: 1px;
    border-color: lightgrey;
}

.page-subtitle {
    text-align: center;
}

p.page-subtitle {
    margin-bottom: 0;
}

/* BREAKPOINTS */

/* Extra small devices (portrait phones, less than 576px) */


@media (max-width: 768px) {
    .logo-text-responsive {
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .responsive-width {
        width: 85%;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .responsive-width {
        width: 75%;
    }

}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .responsive-width {
        width: 65%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .responsive-width {
        width: 55%;
        max-width: 928px;
    }
}



blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

label p {
    margin-bottom: 0;
}

/* Code block font size */
pre[class*="language-"] {
    font-size: 11pt;
    margin-top: 0;
    margin-bottom: 1em;
}