
<div class="btn-group{% if not inline %}-vertical{% endif %} btn-group-toggle flex-wrap choice-button-group" data-toggle="buttons" id="choice-button-group-{{ name }}">
    {% for choice in choices %}
    <label class="btn btn-outline-{{ button_style }} {% if choice.checked %}active{% endif %} {{ choice.css_class }}" id="{{ choice.label_id }}">
      <input type="{{ choice.type }}" name="{{ choice.name }}" id="{{ choice.id }}" value="{{ choice.value }}" autocomplete="off" {% if choice.checked %}checked{% endif %}>{{ choice.label }}
    </label>
    {% endfor %}
  </div>