
<div class="btn-group{% if vertical %}-vertical{% endif %} btn-group-toggle flex-wrap {{ button_group_class }}" data-toggle="buttons" id="choice-button-group-{{ name }}" style="{{ height }}">
    {% for choice in choices %}
    <label class="btn {{ button_style[loop.index0] }} {% if choice.checked or disabled %}active{% endif %} {{ choice.css_class }}" id="{{ choice.label_id }}">
      <input type="{{ choice.type }}" name="{{ choice.name }}" id="{{ choice.id }}" value="{{ choice.value }}" autocomplete="off" {% if choice.checked or disabled %}checked{% endif %} {% if disabled %}disabled{% endif %}>{{ choice.label }}
    </label>
    {% endfor %}
  </div>