{% extends 'Element.html' %}

{% block element %}

<div class="row input-element">
    <label for="{{ name }}"
        class="{% if responsive %} col-12 {{ instruction_width }} {% else %} col-{{ instruction_width }} {% endif %} col-form-label"
        style="{{ instruction_height}}">{{ instruction }}</label>
    <div
        class="{% if responsive %} col-12 {{ input_width }} {% else %} col-{{ input_width }} {% endif %} input-group">

        {# Prefix #}
        {% if prefix %}
        <div class="input-group-prepend">
            <div class="input-group-text"> {{ prefix }}</div>
        </div>
        {% endif %}

        {% block element_class %}

        {% endblock element_class %}

        {# Suffix #}
        {% if suffix %}
        <div class="input-group-append">
            <div class="input-group-text"> {{ suffix }}</div>
        </div>
        {% endif %}
    </div>
    {% if corrective_hint %}
    <div class="col-12 corrective-hint">
        {{ corrective_hint }}
    </div>
    {% endif %}
</div>


{% endblock element %}