{% extends 'Element.html' %}

{% block element %}

<div class="row input-element">
    <label for="{{ name }}"
        class="{% if responsive %} col-12 {{ instruction_width }} {% else %} col-{{ instruction_width }} {% endif %} col-form-label"
        style="{{ instruction_height}}">{{ instruction }}</label>
    <div
        class="{% if responsive %} col-12 {{ input_width }} {% else %} col-{{ input_width }} {% endif %}">

        

        {% if html %} 
        <!-- Inject element html directly (convenient for custom elements) -->
        
        {{ html | safe}} 

        {% else %}
        <!-- Element html via jinja template extension (preferred, if possible) -->

        {% block input_element %}
        {% endblock input_element %}
        
        {% endif %}

        

        
    {% if corrective_hint %}
    <div class="col-12 corrective-hint">
        {{ corrective_hint }}
    </div>
    {% endif %}
    </div>
</div>


{% endblock element %}