<!-- this row is the general widget container -->
<div class="row element d-flex justify-content-{{ position }} {{ hide }} {{ element_class }} {{ align }}"
    id="elid-{{ name }}">
    
    <!-- this column is used to control the overall width of the widget -->
    <div class="{{ element_width }}">

        <!-- this row contains the components of an input element (i.e. labels and input fields) -->
        <div class="row input-element">
            
            <!-- if there is a toplab, it is rendered here -->
            {% if toplab %}
            {% if leftlab %} <div class="{{ leftlab.col_breaks }}""></div> {% endif %} <!-- for spacing -->
            <label class="{{ input_breaks }} toplab" for="{{ name }}">
                {{ toplab.web_widget }}
            </label>
            {% if rightlab %} <div class="{{ rightlab.col_breaks }}""></div> {% endif %} <!-- for spacing -->
            {% endif %}
            
            <!-- if there is a left label, it is rendered here -->
            {% if leftlab %}
            <label class="{{ leftlab.col_breaks }} {{ leftlab.vertical_alignment }} leftlab" for="{{ name }}">
                {{ leftlab.web_widget }}
            </label>
            {% endif %}

            <!-- this is where the actual input field gets rendered -->
            <div class="{{ input_breaks }} {{ input_valign }} {% if prexif or suffix %}input-group{% endif %}">
                
                {# Prefix #}
                {% if prefix %}
                <div class="input-group-prepend">
                    <div class="input-group-text"> {{ prefix }}</div>
                </div>
                {% endif %}

                <!-- This is where the element HTML is injected -->
                {{ html | safe}}

                {# Suffix #}
                {% if suffix %}
                <div class="input-group-append">
                    <div class="input-group-text"> {{ suffix }}</div>
                </div>
                {% endif %}
            </div>

            <!-- if there is a right label, it is rendered here -->
            {% if rightlab %}
            <label class="{{ rightlab.col_breaks }} {{ rightlab.vertical_alignment }} rightlab" for="{{ name }}">
                {{ rightlab.web_widget }}
            </label>
            {% endif %}

            <!-- if there is a bottom, it is rendered here -->
            {% if bottomlab %}
            {% if leftlab %} <div class="{{ leftlab.col_breaks }}""></div> {% endif %} <!-- for spacing -->
            <label class="{{ input_breaks }} bottomlab" for="{{ name }}">
                {{ bottomlab.web_widget }}
            </label>
            {% if rightlab %} <div class="{{ rightlab.col_breaks }}""></div> {% endif %} <!-- for spacing -->
            {% endif %}

            {% if corrective_hint %}
            <div class="col-12 corrective-hint" id="{{ name }}-corrective-hint">
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation-triangle"></i> <i class="fas fa-arrow-alt-circle-up"></i> {{ corrective_hint }}
                </div>
            </div>
            {% endif %}

        </div>


    </div>
</div>