<div class="row element {{ element_class }} {{ hide }}" id="elid-{{ name }}" style="{{ height }}">
    {% for col in columns  %}

    <div class="{{ col.breaks }} {{ col.vertical_position }} col-element" id="{{ col.id }}">
        {{ col.element.web_widget }}
    </div>
        
    {% endfor %}
</div>