<video src="{{ src }}" {% if autoplay %}autoplay{% endif %} {% if loop %}loop{% endif %} {% if controls %}controls{% endif %} playsinline disablePictureInPicture controlsList="nodownload {% if not allow_fullscreen %}nofullscreen{% endif %}" id="{{ name }}" width="{{ video_width }}" height="{{ video_height }}" class="{{ css_class_element }}">Sorry, your browser does not support the video tag.</video>